#Jupyter Notebook - Matheus Hudson
Descrição: Estou explorando a atividade de introdução ao Python para ciência de dados.

In [9]:
import pandas as pd

In [10]:
file_path = "C:\\Users\\55469\\Downloads\\atividadepythoncartaodecredito.xls"
df = pd.read_excel(file_path, skiprows=1)

In [11]:
print(f"Total de colunas: {df.shape[1]}")
print(f"Total de linhas: {df.shape[0]}")

Total de colunas: 25
Total de linhas: 29999

In [12]:
print(df.dtypes)

798fc410-45c1    object
20000             int64
2                 int64
2.1               int64
1                 int64
24                int64
2.2              object
2.3               int64
-1                int64
-1.1              int64
-2                int64
-2.1              int64
3913              int64
3102              int64
689               int64
0                 int64
0.1               int64
0.2               int64
0.3               int64
689.1             int64
0.4               int64
0.5               int64
0.6               int64
0.7               int64
1.1               int64
dtype: object

In [13]:
colunas_categoricas = df.select_dtypes(include=['object']).columns.tolist()
colunas_numericas = df.select_dtypes(include=['number']).columns.tolist()

print(f"Colunas categóricas: {colunas_categoricas}")
print(f"Colunas numéricas: {colunas_numericas}")

Colunas categóricas: ['798fc410-45c1', '2.2']
Colunas numéricas: [20000, 2, '2.1', 1, 24, '2.3', -1, '-1.1', -2, '-2.1', 3913, 3102, 689, 0, '0.1', '0.2', '0.3', '689.1', '0.4', '0.5', '0.6', '0.7', '1.1']

In [14]:
print(df.describe())

                20000             2           2.1             1            24  \
count    29999.000000  29999.000000  29999.000000  29999.000000  29999.000000
mean    165765.848195      1.586486      1.833328      1.535918     35.109170
std     130158.039052      0.513351      0.807712      0.542698      9.851547
min          0.000000      0.000000      0.000000      0.000000      0.000000
25%      50000.000000      1.000000      1.000000      1.000000     28.000000
50%     140000.000000      2.000000      2.000000      2.000000     34.000000
75%     240000.000000      2.000000      2.000000      2.000000     41.000000
max    1000000.000000      2.000000      6.000000      3.000000     79.000000

                2.3            -1          -1.1            -2          -2.1  \
count  29999.000000  29999.000000  29999.000000  29999.000000  29999.000000
mean      -0.132938     -0.164305     -0.219274     -0.263842     -0.287976
std        1.191171      1.191106      1.162358      1.127493      1.144957
min       -2.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       -1.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        8.000000      8.000000      8.000000      8.000000      8.000000

       ...              0            0.1            0.2            0.3  \
count  ...   29999.000000   29999.000000   29999.000000   29999.000000
mean   ...   42792.788593   39885.727691   38481.633654    5613.508617
std    ...   64090.908203   60607.217509   59407.411645   16539.338225
min    ... -170000.000000  -81334.000000 -339603.000000       0.000000
25%    ...    2035.000000    1535.500000    1080.500000     836.000000
50%    ...   18760.000000   17840.000000   16644.000000    2085.000000
75%    ...   53573.500000   49806.000000   48864.000000    5000.000000
max    ...  891586.000000  927171.000000  961664.000000  873552.000000

              689.1            0.4            0.5            0.6  \
count  2.999900e+04   29999.000000   29999.000000   29999.000000
mean   5.855583e+03    5174.560452    4776.248942    4754.907697
std    2.299293e+04   17565.805675   15533.127465   15239.299980
min    0.000000e+00       0.000000       0.000000       0.000000
25%    7.225000e+02     371.500000     223.000000     171.500000
50%    2.000000e+03    1776.000000    1500.000000    1500.000000
75%    5.000000e+03    4500.000000    4000.000000    4000.000000
max    1.684259e+06  896040.000000  621000.000000  426529.000000

                 0.7           1.1
count   29999.000000  29999.000000
mean     5164.395413      0.218707
std     17712.934835      0.413376
min         0.000000      0.000000
25%         9.000000      0.000000
50%      1500.000000      0.000000
75%      4000.000000      0.000000
max    528666.000000      1.000000

[8 rows x 23 columns]

In [15]:
for col in colunas_categoricas:
    print(f"\nValores únicos na coluna {col}:")
    print(df[col].value_counts())

Valores únicos na coluna 798fc410-45c1:
798fc410-45c1
c3ddce11-35e2    2
c361e43d-f1f4    2
89f8f447-fca8    2
2a793ecf-05c6    2
90330d02-82d9    2
                ..
eecd60d0-e496    1
2edeb3a6-d38d    1
27e11893-92e9    1
2b1c282b-441e    1
15d69f9f-5ad3    1
Name: count, Length: 29686, dtype: int64

Valores únicos na coluna 2.2:
2.2
0                13402
-1                5047
1                 3261
Not available     3021
-2                2476
2                 2377
3                  292
4                   63
5                   23
8                   17
6                   11
7                    9
Name: count, dtype: int64

In [16]:
dados_faltantes = df.isnull().sum()
print("Quantidade de valores ausentes por coluna:")
print(dados_faltantes[dados_faltantes > 0])

Quantidade de valores ausentes por coluna:
Series([], dtype: int64)